body {
    background-image: url('images/backgrnd.gif');
    color:white;
    font-size:100%;
    font-size:.9rem;
}
a {
    color:yellow;
}

header,
main,
aside,
nav {
    border-bottom: 5px double hsla(180, 0%, 50%, .5);
    padding: 1rem 0;
}

header {
    font-size: .8rem;
    text-align: center;
    font-style: italic;
}

main {
    display:grid;
    grid-template-columns: auto 1fr;
    grid-gap:1rem;
}

.drawing {
    place-self: end;
}

h2 {
    font-size: 1rem;
}
nav h3 {
    text-align: center;
}

aside ul {
    list-style: none;
    padding:0;
}

nav dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(10, auto);
    grid-auto-flow: column;
    text-align: center;
}

nav dl img {
    vertical-align: middle;
    padding: 5px 5px 5px 0;
}

nav dt {
    font-size: 1rem;
    font-weight:bold;
}

nav dd {
    margin: 0 0 1rem 0;
    font-size: .8rem;
    font-style: italic;
}

footer {
    padding: 1rem 0;
}

time {
    font-weight: bold;
}